@import "../../common/mediaSizes.scss";


.Burger{
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    @include media(sm) {
        width: 350px;
        height: 300px;
    }
    @include media(md) {
        width: 450px;
        height: 400px;
    }
    @include media(lg) {
        width: 700px;
        height: 600px;
    }
}