.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    align-items: center;
    a {
        color: #8f5c2c;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        display: block;
        &:hover, &:active, &.active{
            color: #40A4CB;
        }
    }
    @media (min-width: 500px){
        margin: 0;
        width: auto;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        align-items: center;
        a {
            width: auto;
            color: white;
            text-decoration: none;
            height: 100%;
            padding: 16px 10px;
            border-bottom: 4px solid transparent;
            box-sizing: border-box;
            display: block;
            &:hover, &:active, &.active{
                background-color: #8f5c2c;
                border-bottom: 4px solid #40A4CB;
                color: white;
            }
        }
    }
}